asgiref==3.9.1
backoff==2.2.1
certifi==2025.8.3
channels==4.3.1
channels_redis==4.3.0
chess==1.11.2
click==8.2.1
colorama==0.4.6
Django==5.2.6
django-cors-headers==4.9.0
djangorestframework==3.16.1
filelock==3.19.1
idna==3.10
joblib==1.5.1
numpy==2.3.2
packaging==25.0
pandas==2.3.1
psycopg2-binary==2.9.10
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.2
redis==6.4.0
requests==2.32.5
rich==14.1.0
scikit-learn==1.7.1
scipy==1.16.1
setuptools==80.9.0
six==1.17.0
threadpoolctl==3.6.0
tqdm==4.67.1
typing_extensions==4.15.0
urllib3==2.5.0
virtualenv==20.34.0
wheel==0.45.1
